<form action='/add' method='POST'>

    <p>Titulo</p>
    <input type='text' name='title'>

    <p>Comentario</p>
    <textarea name='content'></textarea>

    <button type='submit'> Digite seu comentário</button>
</form>